.artist-result{
    margin: 1.5rem 0;
}
.artist-results{
    margin: 1.5rem 0;
}
.artist-search-form{
    margin: 2rem 0;
}

.artist-name{
    margin: 0 1rem;
    color: white;
}

.artist-badge{
    margin-right: .8rem;
    margin-top: .8rem;
}

.badge .artist-badge{
    margin-top: 2rem;
}

h1, h3, h4 {
    font-family: 'Handlee', cursive;
}