<div class="container">

  <form action="" fxLayout="row wrap" fxLayoutAlign="center start" class="artis-search-form">
    <div fxLayout="row" fxLayoutAlign="center start" fxFlex="100">
      <mat-form-field appearance="legacy" fxFlex="70">
        <mat-label>Artist Name</mat-label>
        <input matInput placeholder="Search Artist..." (keyup)="searchArtist()" [(ngModel)]="searchParam"
          name="searchInput">
      </mat-form-field>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="center start" fxFlex="100">
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
      </div> -->
  </form>

  <div *ngIf="artists" class="artist-results">
    <mat-card *ngFor="let artist of artists" class="artist-result">{{artist.artist_name}}</mat-card>
  </div>
</div>
